.login > header {
   width: 100%;
   height: 8vh;
   color: var(--accent);
   font-size: 1.2rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-container {
   width: 100%;
   height: 92vh;
   display: flex;
}

.login-left {
   flex: 6;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-left > img {
   width: 80%;
}

.login-right {
   flex: 4;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-card {
   color: var(--text);
   width: 60%;
   background: var(--sidebar-background);
   padding: 2rem 3rem;
   border-radius: 0.8rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.login-card > h3 {
   font-size: 1rem;
   align-self: center;
   margin-bottom: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

.login-card > input {
   background-color: var(--background);
   flex: 1;
   display: flex;
   padding: 0.4rem 1rem;
   border-radius: 0.5rem;
   font-size: 1rem;
   outline: none;
   border: none;
   color: var(--white);
}

#recaptcha-container {
   margin: 1.5rem 0rem;
}

.login-btn {
   font-size: 0.8rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

.admin-login-btn {
   font-size: 0.8rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   color: var(--accent);
   margin-top: 1.5rem;
   align-self: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}
