.reservations > h3 {
   font-size: 1.3rem;
   margin-left: 1.5rem;
   color: var(--text);
   margin-bottom: 1rem;
}

.reservation-list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1rem 1.5rem;
   gap: 1.5rem;
}
