.sidebar {
   background-color: var(--sidebar-background);
   color: var(--text);
   position: fixed;
   height: 100%;
   width: var(--sidebar-width);
   transition: all 0.5s ease-in-out;
   z-index: 10;
}

.sidebar h3 {
   padding: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-size: 1rem;
   color: var(--accent);
}

.sidebar--active {
   margin-left: 0 !important;
}

@media screen and (max-width: 768px) {
   .sidebar {
      margin-top: 8vh;
      margin-left: -50%;
      width: 50%;
   }
}
